:root {
  --white: #ffffff;
  --secondary--color: #ff0080;
}

body {
  background-color: #0a0a0a;
}
.header {
  padding: 20px;
  display: flex;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.main__title {
  color: var(--white);
  text-shadow: 0 0 15px var(--secondary--color);
  text-align: center;
  font-size: 42px;
}
.main__msg {
  color: var(--white);
  text-shadow: 0 0 5px #00ff73;
  font-size: 22px;
  height: 22px;
}
.grid-container {
  display: grid;
  margin: 0 auto;
  gap: 10px;
  border: 2px solid #00ffff;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0 0 20px #00ffff;
  width: min(48vmin, 48vw);
  grid-template-columns: repeat(var(--board-size, 3), 1fr);
}

.grid-container-large {
  gap: 2px;
  width: auto;
}
.btn {
  cursor: pointer;
}
.btn,
.controller__element {
  padding: 8px 16px;
  background-color: #000000;
  border-radius: 16px;
  border: 2px solid var(--secondary--color);
  color: var(--white);
  box-shadow: 0 0 15px rgba(255, 0, 128, 0.5);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 0 0 25px var(--secondary--color);
}
.grid-container__btn {
  aspect-ratio: 1 / 1;
  width: 100%;
  font-size: 32px;
}
.main__count-wins {
  padding: 8px 16px;
  border-radius: 16px;
  border: 2px solid var(--secondary--color);
  color: var(--white);
  box-shadow: 0 0 15px #ce5e82;
  font-size: 24px;
}
.grid-container__btn-large {
  font-size: 12px;
  border: 1px solid var(--secondary--color);
}
.controller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-controller {
  display: flex;
  gap: 10px;
}
.controller__button--winner {
  background-color: #5d744e;
}
.controller__button:hover {
  background-color: #3a3a3a;
}
