:root {
  --white: #ffffff;
  --secondary--color: #ff0080;
}

body {
  background-color: #0a0a0a;
}
.header {
  padding: 20px;
  display: flex;
  gap: 50px;
}
.list {
  display: flex;
  gap: 20px;
}
.dropdown-card {
  display: inline-block;
}
.dropdown {
  padding: 8px 28px;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  box-shadow: 0 0 20px #00ffff;
  border: 2px solid #00ffff;
  border-radius: 24px;
}

.dropdown__btn {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dropdown-card:hover .dropdown__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  height: 800px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.main__title {
  color: var(--white);
  text-shadow: 0 0 15px var(--secondary--color);
  text-align: center;
  font-size: 42px;
}
.main__msg {
  color: var(--white);
  text-shadow: 0 0 5px #00ff73;
  font-size: 22px;
  height: 22px;
}
.grid-container {
  display: grid;
  margin: 0 auto;
  gap: 10px;
  border: 2px solid #00ffff;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0 0 20px #00ffff;
  margin: auto;
}
.btn {
  cursor: pointer;
}
.controller__element {
  padding: 8px 16px;
  background-color: #000000;
  border-radius: 16px;
  border: 2px solid var(--secondary--color);
  color: var(--white);
  box-shadow: 0 0 15px rgba(255, 0, 128, 0.5);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 0 0 25px var(--secondary--color);
}
.grid-container__btn {
  font-size: 32px;
  width: 50px;
  height: 50px;
}
.controller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-controller {
  display: flex;
  gap: 10px;
}
.controller__button--winner {
  background-color: #5d744e;
}
.controller__button:hover {
  background-color: #3a3a3a;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template: 40px 40px 40px/40px 40px 40px;
  }
}
